<% if @photo %>
  <div id="photo_holder"<%= ' class=\'portrait\'' if @photo.portrait? %>>
  </div>
<% end %>

<div id="thumbnails">
  <% for photo in @thumbnails %>
    <%= link_to (image_tag photo.thumb_url, :title => photo.title, :alt => photo.title), photo_url(photo), :class => ("current_photo" if photo.cached_slug == params[:id]) %>
  <% end %>
</div>

<% content_for :title, " :: #{@photo.title}" %>

<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    $(function () {
      $('#photo_holder').addClass('loading');
      var img = new Image();
      $(img).load(function () {
        $(img).hide();
        $('#photo_holder').removeClass('loading').append(img);
        <% if @photo.portrait? %>
          $('#photo_holder').addClass('portrait')
        <% end %>
        $(img).fadeIn('slow');
        var a = $('<a/>').attr('href', '<%= photo_url(@photo.next) %>');
        $(img).wrap(a)
      }).attr('src', '<%= @photo.url %>').attr('class', 'photo').attr('id', '<%= "photo_#{@photo.id}" %>' ).attr('alt', "<%=h @photo.title %>" ).attr('title', "<%=h @photo.title %>" );
    });
  </script>
<% end %>
