<% if @photo %>
  <div id="photo_holder"<%= ' class=\'portrait\'' if @photo.portrait? %>>
    <%= link_to image_tag(@photo.large_url, :title => @photo.title, :alt => @photo.title, :id => "photo_#{@photo.id}", :class => "photo"), photo_url(@photo.next) %>
  </div>
<% end %>

<div id="thumbnails">
  <% for photo in @thumbnails %>
    <%= link_to (image_tag photo.thumb_url, :title => photo.title, :alt => photo.title), photo_url(photo), :class => ("current_photo" if photo.cached_slug == params[:id]) %>
  <% end %>
</div>

<% content_for :title, " :: #{@photo.title}" %>

<script type="text/javascript" charset="utf-8">
  console.log("about to hide");
  $('#photo_holder').addClass('loading');
  console.log("about to go crazy");
  $('#photo_<%= @photo.id %>').hide().attr('src', '<%= @photo.large_url %>').load(function () {
    console.log("about to fade");
    $(this).fadeIn(800);
    console.log("about to show");
    $('#photo_holder').removeClass('loading');
  });
  console.log("about to complete");
</script>